/* primary */

.text-primary-10 {
  color: $primary-10 !important;
}

.text-primary-9 {
  color: $primary-9 !important;
}

.text-primary-8 {
  color: $primary-8 !important;
}

.text-primary-7 {
  color: $primary-7 !important;
}

.text-primary-6 {
  color: $primary-6 !important;
}

.text-primary-5 {
  color: $primary-5 !important;
}

.text-primary-4 {
  color: $primary-4 !important;
}

.text-primary-3 {
  color: $primary-3 !important;
}

.text-primary-2 {
  color: $primary-2 !important;
}

.text-primary-1 {
  color: $primary-1 !important;
}

/* ... */

/* secondary */

.text-secondary-10 {
  color: $secondary-10 !important;
}

.text-secondary-9 {
  color: $secondary-9 !important;
}

.text-secondary-8 {
  color: $secondary-8 !important;
}

.text-secondary-7 {
  color: $secondary-7 !important;
}

.text-secondary-6 {
  color: $secondary-6 !important;
}

.text-secondary-5 {
  color: $secondary-5 !important;
}

.text-secondary-4 {
  color: $secondary-4 !important;
}

.text-secondary-3 {
  color: $secondary-3 !important;
}

.text-secondary-2 {
  color: $secondary-2 !important;
}

.text-secondary-1 {
  color: $secondary-1 !important;
}

/* ... */

/* gray */

.text-gray-10 {
  color: $gray-10 !important;
}

.text-gray-9 {
  color: $gray-9 !important;
}

.text-gray-8 {
  color: $gray-8 !important;
}

.text-gray-7 {
  color: $gray-7 !important;
}

.text-gray-6 {
  color: $gray-6 !important;
}

.text-gray-5 {
  color: $gray-5 !important;
}

.text-gray-4 {
  color: $gray-4 !important;
}

.text-gray-3 {
  color: $gray-3 !important;
}

.text-gray-2 {
  color: $gray-2 !important;
}

.text-gray-1 {
  color: $gray-1 !important;
}

/* ... */
