/* text */

.text-1 {
  font-size: 11px;
}

.text-2 {
  font-size: 12px;
}

.text-3 {
  font-size: 13px;
}

.text-4 {
  font-size: 14px;
}

.text-5 {
  font-size: 16px;
}

.text-6 {
  font-size: 20px;
}

.text-7 {
  font-size: 24px;
}

.label-1 {
  font-size: 10px;
  letter-spacing: 0.75px;
}

.label-2 {
  font-size: 11px;
  letter-spacing: 1px;
}

.label-3 {
  font-size: 12px;
  letter-spacing: 1px;
}

.label-4 {
  font-size: 13px;
  letter-spacing: 1.5px;
}

/* ... */

/* text decoration */

.text-underline {
  text-decoration: underline;
}

/* ... */
