// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #643094;
$secondary: #00bcd4;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-1: #f2e6f5;
$primary-2: #dec2e7;
$primary-3: #c99ad8;
$primary-4: #b373c7;
$primary-5: #a357ba;
$primary-6: #933fae;
$primary-7: #863ba7;
$primary-8: #74359d;
$primary-9: #643094;
$primary-10: #472782;

$secondary-1: #e0f7fa;
$secondary-2: #b2ebf2;
$secondary-3: #80deea;
$secondary-4: #4dcfe1;
$secondary-5: #26c5da;
$secondary-6: #00bcd4;
$secondary-7: #00abc1;
$secondary-8: #0096a7;
$secondary-9: #00828f;
$secondary-10: #005f64;

// cool grey

// $gray-1: #f9fafb;
// $gray-2: #f3f4f6;
// $gray-3: #e5e7eb;
// $gray-4: #d1d5db;
// $gray-5: #9ca3af;
// $gray-6: #6b7280;
// $gray-7: #4b5563;
// $gray-8: #374151;
// $gray-9: #1f2937;
// $gray-10: #111827;

// blue grey

$gray-1: #f8fafc;
$gray-2: #f1f5f9;
$gray-3: #e2e8f0;
$gray-4: #cbd5e1;
$gray-5: #94a3b8;
$gray-6: #64748b;
$gray-7: #475569;
$gray-8: #334155;
$gray-9: #1e293b;
$gray-10: #0f172a;

@import "~quasar-variables-styl";
